<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            id="githubflavoredmarkdowneclipseplugin.preferences.PreferencePage"
            name="GFM Editor Preferences"
            class="preferences.PreferencePage">
      </page>
   </extension>
   <extension
   		 point="org.eclipse.core.runtime.preferences">
       <initializer
   		 class="preferences.PreferenceInitializer">
   	 </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
         <editor
      name="Markdown Editor (GFM)"
      extensions="md, markdown, mrkdwn, mdown"
      class="githubflavoredmarkdowneclipseplugin.MarkdownEditor"
      id="githubflavoredmarkdowneclipseplugin.MarkdownEditor">
   </editor>
   </extension>

</plugin>
