<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            id="githubflavoredmarkdowneclipseplugin.project"
            name="githubflavoredmarkdowneclipseplugin.project"
            base-type="org.eclipse.core.runtime.text"
            file-extensions="project">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
         <editor
      name="Markdown Editor (GFM)"
      extensions="md"
      class="githubflavoredmarkdowneclipseplugin.MarkdownEditor"
      id="githubflavoredmarkdowneclipseplugin.MarkdownEditor">
   </editor>
   </extension>
   <extension
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            class="githubflavoredmarkdowneclipseplugin.ValidatorDocumentSetupParticipant"
            contentTypeId="githubflavoredmarkdowneclipseplugin.project"
            extensions="project">
      </participant>
   </extension>

</plugin>
