<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            id="githubflavoredmarkdowneclipseplugin.preferences.PreferencePage"
            name="GFM Editor Preferences"
            class="githubflavoredmarkdowneclipseplugin.preferences.PreferencePage">
      </page>
   </extension>
   <extension
   		 point="org.eclipse.core.runtime.preferences">
       <initializer
   			class="githubflavoredmarkdowneclipseplugin.preferences.PreferenceInitializer">
   	   </initializer>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            id="githubflavoredmarkdowneclipseplugin.project"
            name="githubflavoredmarkdowneclipseplugin.project"
            base-type="org.eclipse.core.runtime.text"
            file-extensions="project">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
         <editor
      name="Markdown Editor (GFM)"
      extensions="md, markdown"
      class="githubflavoredmarkdowneclipseplugin.MarkdownEditor"
      id="githubflavoredmarkdowneclipseplugin.MarkdownEditor">
   </editor>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.presentationReconcilers">
      <presentationReconciler
            class="githubflavoredmarkdowneclipseplugin.ProjectPresentationReconciler"
            contentType="githubflavoredmarkdowneclipseplugin.project">
      </presentationReconciler>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.hoverProviders">
      <hoverProvider
            class="githubflavoredmarkdowneclipseplugin.ProjectHoverProvider"
            contentType="githubflavoredmarkdowneclipseplugin.project">
      </hoverProvider>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.contentAssistProcessors">
      <contentAssistProcessor
            class="githubflavoredmarkdowneclipseplugin.ProjectContentAssistProcessor"
            contentType="githubflavoredmarkdowneclipseplugin.project">
      </contentAssistProcessor>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.autoEditStrategies">
      <autoEditStrategy
            class="githubflavoredmarkdowneclipseplugin.ProjectAutoEditStrategy"
            contentType="githubflavoredmarkdowneclipseplugin.project">
      </autoEditStrategy>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.reconcilers">
      <reconciler
            class="githubflavoredmarkdowneclipseplugin.ProjectReconciler"
            contentType="githubflavoredmarkdowneclipseplugin.project">
      </reconciler>
   </extension>
   <extension
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            class="githubflavoredmarkdowneclipseplugin.ValidatorDocumentSetupParticipant"
            contentTypeId="githubflavoredmarkdowneclipseplugin.project"
            extensions="project">
      </participant>
   </extension>

</plugin>
